*¨{
    background-color: aqua;
}
h2{
    text-decoration: underline;
    background-color: aqua;
}
head{
    text-align: center;
}
div{
    text-decoration: underline;
    text-size-adjust: 20px;
    text-align: center;
    background-color: rgb(128, 165, 42);
}
h1{
    text-decoration: underline;
    text-align: center;
    text-decoration: solid;
}
*{
    background-color: rgba(0, 255, 242, 0.404);
}
article{
    display: inline-block;
    text-align: center;} 

