h1{
    text-align: center;
    text-decoration: underline;
    line-height:normal;
    background-color: rgba(127, 150, 255, 0.363);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
h2{
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif

}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    display: inline-block;

}
img {
    border-radius: 10%;
    display: block;
    margin-left: 20%;
    margin-right: 60%;
    border-radius: 50%;
    width: 60%;
  }
div{
    text-align: center;
    width: 100%;
    margin: 18px;
    height: 80pxn;
}
footer{
    text-align: center;
    text-size-adjust: 16px;
    font-size: 16px;text-decoration: underline;
}

